.idea
*.pyc
*.gz
static/
tmp/
*/tmp/
.git.renesola.github/
# delete after integration testsOB
renesola/apps/prod_dj/
local_settings.py
.git.sfcrowd.orig.control/
.git.rolledback/
timecards/
*.~lock.*
mykey02.pem
renesola/coffee_script/discount_calculator/discount_calculator.coffee
renesola/coffee_script/discount_calculator/locally_built_data/categories.coffee
renesola/coffee_script/discount_calculator/locally_built_data/racking_descriptions.coffee
renesola/coffee_script/pricelist_upload_status/pricelist_upload_status.coffee
renesola/coffee_script/racking_descriptions_status/racking_descriptions_status.coffee
*worker.log*
renesola/php_apps/ups/logs/error.log
ups/RatingGROUNDFREIGHTWebService/CodeSamples/Freight/ups.zip

renesola/coffee_script/freight_calculator/freight_calculator.coffee
renesola/coffee_script/freight_calculator/locally_built_data/
renesola/php_apps/ups/vendor/
*settings*
