<!-- _top_header.html -->

<!-- must be insync with full_list_item.coffee AND
    product_line_layout.coffee -->
<div class="col-md-3 user-input-header left" >Classifications</div>
<div class="col-md-3 user-input-header left" >Products</div>
<div class="col-md-1 user-input-header left" >Price<br>(pcs/watts)</div>
<div class="col-md-1 user-input-header left" >Quantity</div>
<div class="col-md-1 user-input-header right" >Guiden Price</div>
<div class="col-md-1 user-input-header left" style="margin-left: 15px;" >Message</div>
<div class="col-md-1 user-input-header right">Subtotal</div>
<div class="col-md-1 user-input-header" style="padding:0; ">&nbsp;</div>