<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Discount Calculator</title>
</head>
<body>
    <!-- pricing/crm/index.html -->
    <ul>
    <li><a href="{% url 'discount_calculator' %}">Discount Calculator</a></li>
    <li><a href="{% url 'pricelist_uploader' %}">Price List Uploader</a></li>
    <li><a href="{% url 'pricelist_post_upload_info' %}">Price List From Upload Results</a></li>
    <li><a href="{% url 'racking_descriptions_uploader' %}">Racking Descriptions Uploader</a></li>
    <li><a href="{% url 'upload_racking_descriptions' %}">Racking Info From Upload Results</a></li>
    <li><a href="{% url 'freight_calculator' %}">Freight Calculator</a></li>
    </ul>
</body>
</html>